<!-- Navigation -->
<%= render 'landing_navbar' %>
<!-- Header -->
<%= render 'landing_header' %>
<!-- About -->
<%= render 'landing_about' %>
<!-- Services -->
<%= render 'landing_services' %>
<!-- Callout -->
<%= render 'landing_callout' %>
<!-- Portfolio -->
<%= render 'landing_portfolio' %>
<!-- Newsletter -->
<%= render 'newsletter' %>
<!-- Call to Action -->
<%= render 'landing_call_to_action' %>
<!-- Map -->
<%= render 'landing_map' %>
<!-- Footer -->
<%= render 'landing_footer' %>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
<%= javascript_pack_tag 'stylish-portfolio', 'data-turbolinks-track': 'reload' %>
