<!DOCTYPE html>
<html>
  <head>
    <title>Educia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <%= javascript_pack_tag 'application',
                            'bootstrap',
                            'fontawesome',
                            'chart-js',
                            'datatables',
                            'sb-admin',
                            'sb-admin-index',
                            'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'sb-admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
